# .NET Core
bin/
obj/
out/

# Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates

# Secrets & Config
appsettings.json
appsettings.Development.json

# Tooling
.idea/
*.swp
*.bak

# OS
Thumbs.db
.DS_Store
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
